.SuaClasse {
    width: fit-content;
    height: 7rem;
}
.card:hover img{

  transform: scale(1.1);
}



.containeree {
  background-color:  rgb(202, 203, 206);
  color: rgb(7, 2, 109);
  width: 100%;
  text-align: center;
  
}
  .containeree img {
    width: 100px;
    height: 100px;
  }

  .container{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.card-title{
  color: #0000ff;
}